mat-form-field input {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}
mat-form-field input:focus {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}

mat-form-field {
    width: calc(100%);
}

fieldset {
    border-radius: 8px;
  }
