p i {
    font-size: 1em;
}

.tag {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-panel{
    border-radius: 5px;
}

mat-form-field input {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}
mat-form-field input:focus {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}

mat-form-field input[type=number] {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}
mat-form-field input[type=number]:focus {
    margin-bottom: 0em !important;
    border: none;
    box-shadow: none;
    height: inherit !important;
}