i {
    color: black;
}
h2 {
    margin: 0 0 20px 0;
}

@media screen and (min-width: 1000px) {
    .card {
        margin-top: 5vh;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        margin-top: 5vh;
    }
}

mat-form-field input {
    border: none;
    height: initial !important;
}

mat-form-field input:focus {
    border: none;
    box-shadow: none;
    height: initial !important;
}