*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-color: #d8dce3;
}
.parent{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_block{
    background-color: rgb(241, 241, 241);
    width: 300px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px 5px 20px;
    padding: 10px;
}
.imgcontainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kdulogo{
    /*width: 850;
    height: 680;*/
    
    width: 141px;
    height: 113px;
}
.container{
    border: 5px black;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inpt{
    padding: 0px;
    padding-top: 20%;
}
label{
    color: #474747;
    font-size: 20px;
}
input{
    background-color: rgb(241, 241, 241);
    border: 0px;
    border-bottom: 2px solid #474747;
    font-size: 20px;
    outline: none;/*removes the ugly default outline*/
    transition: border-bottom 1s;
}
@keyframes border{
    from{
        border-bottom: 2px solid #474747;
    }
    to{
        border-bottom: 2px solid #805cff;
    }
}

input:focus{
    border: 0px;
    width: 100%;
    border-bottom: 2px solid #805cff;
}

.login_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    /*background: linear-gradient(90deg, #0162c8, #55e7fc);*/
    background-color: #805cff;
    transition: border-radius 1s;
}

a:hover{
    
    background-color: #805cff;
    color: black;
    border-radius: 40px;
}